<launch>
  <arg name="robot_name"/>
  <arg name="init_pose"/>
  
  <!-- Gazebo model spawner -->
  <node name="$(arg robot_name)_spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -unpause -urdf -param /robot_description -model $(arg robot_name)"/>
  
  <!-- Velocity muxer -->
  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_cmd_vel_mux"
        args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find turtlebot_bringup)/param/mux.yaml" />
    <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
  </node>


<!--   <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
  </node>
 -->  <!-- Bumper/cliff to pointcloud (not working, as it needs sensors/core messages) -->
  <!-- <include file="$(find turtlebot_bringup)/launch/includes/kobuki/bumper2pc.launch.xml"/> -->
</launch>
