<launch>
  <arg name="base" default="kobuki"/>
  <arg name="stacks" default="hexagons"/>
  <arg name="3d_sensor" default="kinect"/>

  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find rosh_turtlebot_demo)/leader.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- start gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find turtlebot_gazebo)/worlds/empty.world"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- spawn the two robots -->
  <group ns="leader">
    <param name="tf_prefix" value="leader"/>
    <include file="$(find rosh_turtlebot_demo)/launch/one_robot.launch">
      <arg name="robot_name" value="leader"/>
      <arg name="init_pose" value="-x 0 -y 0 -z 0"/>
    </include>
  </group>

  <group ns="follower">
    <param name="tf_prefix" value="follower"/>
    <include file="$(find rosh_turtlebot_demo)/launch/one_robot.launch">
      <arg name="robot_name" value="follower"/>
      <arg name="init_pose" value="-x 1 -y 0 -z 0"/>
    </include>
  </group>

  <node name="odom_pub" type="publish_odom.py" pkg="rosh_turtlebot_demo"/>

</launch>