<launch>
  <arg name="base" default="kobuki"/>
  <arg name="stacks" default="hexagons"/>
  <arg name="3d_sensor" default="kinect"/>

  <!-- load the robot description (used by one_robot.launch) -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_description)/robots/$(arg base)_$(arg stacks)_$(arg 3d_sensor).urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- start gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find turtlebot_gazebo)/worlds/empty.world"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- spawn the two robots -->
  <group ns="leader">
    <param name="tf_prefix" value="leader"/>
    <include file="$(find rosh_turtlebot_demo)/launch/one_robot.launch">
      <arg name="robot_name" value="leader"/>
      <arg name="init_pose" value="-x 0 -y 0 -z 0"/>
    </include>
  </group>

  <group ns="follower">
    <param name="tf_prefix" value="follower"/>
    <include file="$(find rosh_turtlebot_demo)/launch/one_robot.launch">
      <arg name="robot_name" value="follower"/>
      <arg name="init_pose" value="-x 1 -y 1 -z 0"/>
    </include>
  </group>

  <!-- start the various nodes -->
  <node name="odom_pub" type="publish_odom.py" pkg="rosh_turtlebot_demo"/>
  <node name="follow" type="follow.py" pkg="rosh_turtlebot_demo"/>
  <node name="random_move" type="random_move.py" pkg="rosh_turtlebot_demo"/>
  <node name="reset_on_bump" type="reset.py" pkg="rosh_turtlebot_demo"/>

</launch>